# Arquivos ignorados padrão
/shelf/
/workspace.xml
# Solicitações de cliente HTTP baseadas em editor
/httpRequests/
# Arquivos ignorados pelo armazenamento local da fonte de dados
/dataSources/
/dataSources.local.xml
# Ignorar arquivos de configuração do PyCharm
.idea/
